.nav-menu {
  margin-left: 3.7rem;
}
.nav-menu__item {
  display: inline;
}
.nav-menu__link {
  display: inline-block;
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 3rem 2rem;
}
.nav-menu__text {
  margin-left: 1.1rem;
  position: relative;
}
.nav-menu__text::before {
  bottom: -1rem;
  background: #fff;
  content: "";
  height: 2px;
  width: 0;
  transition: width 0.3s;
  position: absolute;
}

.nav-menu__link:hover .nav-menu__text::before {
  width: 100%;
}

.nav-menu__item.dropdown {
  display: none;
}
