.banners {
  padding-top: 9.7rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.banner-slider {
  position: relative;
  display: flex;
  align-items: center;
}
.banner-slider__item {
  position: relative;
  padding: 0 1rem 3rem;
  flex-shrink: 0;
  width: 90vw;
}
.banner-slider__counter {
  font-size: 2rem;
  position: absolute;
  top: 4rem;
  left: 4rem;
  z-index: 10;
}
.banner-slider__link {
  display: block;
  position: relative;
}
.banner-slider__link::before {
  border: 0.4rem solid rgba(255, 255, 255, 0);
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.6rem;
  transition: border 0.4s;
}

.banner-slider__link:hover::before {
  border-color: rgba(255, 255, 255, 0.7);
}
.banner-slider__cover {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: #000 0rem 2rem 3rem -2rem;
}

.banner-slider__title {
  animation: slideLeft 1.7s;
  top: 0;
  left: 0;
  display: none;
  position: absolute;
  width: 100%;
}

.banner-slider__title.active {
  display: block;
}

.banners .arrow-slider {
  margin-top: -3rem;
  position: absolute;
  z-index: 2;
  padding: 17rem 0rem;
}

.banners .arrow-slider--left {
  left: 0rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.banners .arrow-slider--right {
  right: 0rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.banners .controls-slider {
  bottom: 4.6rem;
  right: 11.6rem;
}
